.mine-square {
  background-color: #18624a;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &-revealed {
    background-color: white;
  }
  &-value[data-value="1"] {
    color: #ff00aa;
  }
  &-value[data-value="2"] {
    color: #aa00ff;
  }
  &-value[data-value="3"] {
    color: #0000ff;
  }
  &-value[data-value="4"] {
    color: #00a9ff;
  }
  &-value[data-value="5"] {
    color: #00ffa9;
  }
  &-value[data-value="6"] {
    color: #00ff00;
  }
  &-value[data-value="7"] {
    color: #aaff00;
  }
  &-value[data-value="8"] {
    color: #ffaa00;
  }
  &-value {
    &-flagged {
      color: black;
    }
    &-bomb {
      color: red;
    }
  }
}
