.game-board {
  $primary: #18624a;
  &-mobile-prompt {
    text-align: right;
    color: white;
    font-size: 0.8em;
  }
  &-controls {
    background-color: $primary;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    &-refresh {
      cursor: pointer;
    }
    select {
      background: black;
      color: $primary;
      font-weight: bold;
      border: none;
    }
  }
  &-message {
    text-align: center;
    &-lost {
      color: red;
    }
    &-won {
      color: $primary;
    }
  }
  &-row {
    display: flex;
  }
  &-row[data-difficulty="medium"] {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      @media screen and (max-width: 414px) {
        width: 18px;
        height: 18px;
      }
    }
  }
  &-row[data-difficulty="hard"] {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      @media screen and (max-width: 414px) {
        width: 12px;
        height: 12px;
        font-size: 0.75em;
      }
    }
  }
}
