.app {
  font-family: "Jura", sans-serif;
  height: 100vh;
  background-color: black;
  &-header {
    padding: 48px 0 12px 0;
    width: 80%;
    margin: auto;
    @media screen and (max-width: 414px) {
      padding: 10px 0 12px 0;
    }
  }
  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
